table {
  border-collapse: collapse;
}

.product-table th {
  background-color: #ccc;
  font-weight: 700;
}

.product-table tr:hover td {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: aqua;
}

.align-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 10px;
}

.product-content-top {
  padding: 0 0 10px 0;
}

.border-radius {
  border-radius: 13px !important;
  max-width: 300px;
}

.thongke-date {
  padding-bottom: 10px;
}

.thongke-date-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px !important;
}